@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,400&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Tilt Neon', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    display: block;
    font-size: 4em;
    font-weight: 400;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.todo {
    width: 100%;
    max-width: 500px;
    background-color: bisque;
    margin: 10px auto 20px;
    padding: 20px 30px 100px;
    border-radius: 10px;
}

.todo h2 {
    font-size: 2em;
    color: #5E5DF0;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.todo h2 img {
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 16px;
}

button {
    background: #5E5DF0;
    border-radius: 30px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 18px 50px;
    border: none;
}

button:hover {
    background: #7878ef;
}

ul li {
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #5E5DF0;
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked {
    color: #666666;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #5E5DF0;
    box-shadow: #5E5DF0 0px 1px 4px, #5E5DF0 0px 0px 0px 3px;
    border: 3px solid bisque;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
}

ul li span {
    right: 0;
    top: 6px;
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 25px;
    color: #555;
    text-align: center;

}

ul li span:hover {
    background: #FFFFFF;
    border-radius: 50%;
}